<mat-toolbar class="sticky-top shadow-sm">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>Survey Management System</span>
    <span class="example-spacer"></span>

</mat-toolbar>


<div class="px-4 py-5 my-5 text-center">

  

    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold" style="font-size: 3rem;">Survey Management</h1>
    <h1 class="display-5 fw-bold text-primary" style="margin-top: -7px; font-size: 3rem;">System</h1>
    <div class="col-lg-6 mx-auto">
        
      <p class="mb-4">Discover the ease of designing custom surveys, distributing them through various channels, and analyzing real-time results—all within one user-friendly interface. Experience the efficiency and accuracy of our Survey Management System today.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" (click)="routeCreator()" class="btn btn-md btn-primary btn-lg px-4 gap-3">Creator</button>
        <button type="button" (click)="routeRespondant()" class="btn btn-md btn-outline-secondary btn-lg px-4">Respondant</button>
      </div>
      <!-- <a href="https://www.linkedin.com/in/nkramachandran/" target="_blank" class="btn mt-2" style="transform: none;">Ramachandran N K</a> -->
    </div>
  </div>